<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Bids</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <div class="body error">
            <h1>My Active Bids</h1>
            <div class="grid-container">
                {{#if jobs.length}}
                    {{#each jobs}}
                        {{>jobsPartial view="bidder" user=../user}}
                    {{/each}}
                {{else}}
                    <h4>You do not have any active bids</h4>
                {{/if}}
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>